/*import of Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

/*Asterisk selector for default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Merienda One", "Brush Script MT", "Cursive";
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}
 /* creating style for html page*/
 html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden;
 }
 /*creating style for home section*/
 section {
    padding: 5rem 9%;
 }

 /*style for header section*/
 header {
    position: fixed;
    top:0;
    right:0;
    left:0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

 }
 /*style for logo*/
 header .logo {
   font-size: 3.2rem;
   color:green;
   font-weight: bolder;
 }
 i {
    color:red;
 }

 header .icon {
    color:red;
    font-size:large;
 }

 /*style for navigation bar*/
 header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color:#661;
 }

 header .navbar a:hover {
    color:red;
 }
 /*creating style for navigation bar using dropdown toggle*/ 

 header #toggle {
    display:none;
 }

 header .fa-bars {
    font-size: 2.3rem;
    color:#661;
    padding: .6rem 2rem;
    cursor: pointer;
    display:none;
 }
   
 .home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/img7.jpg) no-repeat center;
    background-size: cover;
    
 }
 .home .content {
    max-width: 50rem;
 }
  .home .content h1 {
    font-size: 12rem;
    color:#661;
  }
   .home .content h2 {
    font-size: 4rem;
    color:lightcoral;
    padding:1rem 0;
    line-height: 1.5;
   }


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /*Media queries for large devices like laptops and descktops(max-width:991px and up)*/
  @media (max-width:991px) {

    html {
            font-size: 55%;
        }

    header {
        padding: 2.5rem;
    }    
  }

  /*Media queries for tablets with a screen max-width:768px*/
  @media (max-width:768px) {

header .fa-bars {
        display: block;
    }

    header .navbar {
        position:absolute;
        top:100%;
        right:0;
        left:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       
    }
     header .navbar a{
        margin:1.5rem;
        padding:2rem;
        background: #fff;
        border:.1rem solid #661;
        display:block;
     }
     header #toggle:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
  }
  /*Media queries for phones*/
  @media (max-width:450px) {

      html {
          font-size: 50%;
      }

     
  }


