/*import of Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

/*Asterisk selector for default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Merienda One", "Brush Script MT", "Cursive";
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* creating style for html page*/
html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/*creating style for home section*/
section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    color: #661;
    padding: 1.5rem;
    margin: 2rem 0;
    background: rgba(255, 51, 156, .05);
}

.btn {
    display: inline-block;
    margin-top: 2rem;
    border-radius: 20rem;
    background: #333;
    color: #eee;
    padding: .9rem 3.7rem;
    cursor: pointer;
    font-size: 1.8rem;
}

.btn:hover {
    background: red;
}

/*style for header section*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

/*style for logo*/
header .logo {
    font-size: 3.2rem;
    color: green;
    font-weight: bolder;
}

i {
    color: red;
}

header .icon {
    color: red;
    font-size: large;
}

/*style for navigation bar*/
header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #661;
}

header .navbar a:hover {
    color: red;
}

/*creating style for navigation bar using dropdown toggle*/

header #toggle {
    display: none;
}

header .fa-bars {
    font-size: 2.3rem;
    color: #661;
    padding: .6rem 2rem;
    cursor: pointer;
    display: none;
}

/*Creating style for main page */

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/main-foto.jpg) no-repeat center;
    background-size: cover;

}

.home .content {
    max-width: 50rem;
}

/*Creating style for cover text*/
.home .home-content h1 {
    font-size: 6.5rem;
    color: #661;
}

.home .home-content h2 {
    font-size: 3rem;
    color: #663;
    padding: 0.3rem 0;
    line-height: 1.5;
}
/*Creating style for about us page*/
.about .row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 2.5rem;
}

.about .row .video-container {
    flex: 1;
    position: relative;
    max-width: 100%;
}

.about .row .video-container video {
    width: 100%;
    border: 0.5rem solid black;
    border-radius: .5rem;
    box-shadow: 0 .6rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;

    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

/*Creating style for conteiner text in about us page*/
.about .row .content h3 {
    font-size: 3rem;
    color: lightcoral;
}

.about .row .content ul {
    font-size: 1.5rem;
    color: #661;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.about .row .content ol {
    font-size: 1.5rem;
    color: #663;
}
/*Adding style for icons container*/

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: 0.2rem solid rgba(0, 0, 0);
    padding: 4rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    flex: 1 1 20rem;
}

.icons-container .icons i {
    font-size: 30px;

}

.icons-container .icons h3 {
    color: red;
    padding-bottom: .7rem;
    font-size: 1.3rem;
}

.icons-container .icons span {
    color: #661;
    font-size: 1.25rem;
}

/*Creating style for flower catalog page*/

.flower-catalog .container-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.flower-catalog .container-box .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .7rem;
    position: relative;
}

.flower-catalog .container-box .box .image {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.flower-catalog .container-box .box .image img {
    height: 25rem;
}

.flower-catalog .container-box .box:hover .image img {
    transform: scale(1.1)
}

.flower-catalog .container-box .box .content {
    padding: 2rem;
    text-align: center;
}

.flower-catalog .container-box .box .content h3 {
    font-size: 2rem;
    color: red;
}

.flower-catalog .container-box .box .content .price {
    font-size: 1.5rem;
    color: #661;
    font-weight: bolder;
    padding-top: 0.3rem;
}

/*creating style for review section*/
.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2.5rem;
    position: relative;
    border: 0.5rem solid rgba(0, 0, 0, .1);
}

/*Creating style for customers review box*/

.review .box-container .box .stars i {
    font-size: 2rem;
}

.review .box-container .box p {
    color: #661;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-container .box .customer {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .customer img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .customer h3 {
    font-size: 2rem;
    color: lightcoral;
}